<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat page for {{ username }}</title>
</head>

<body>

    <h1>Welcome, {{ username }}</h1>

    <form method="POST">
        <textarea cols="50" rows="4" name="message" id="message"></textarea>
        <br>
        <button>Send message</button>
    </form>

    {% for message in chat_messages %}
    <p>({{ message.timestamp }}) {{ message.from }}: {{ message.message }}</p>
    {% endfor %}

    <script>
        /* JavaScript 
            I'm going to create a variable: let timer =, and then I'm going to call the built-in JavaScript setTimeout() function that runs a function at a given interval.
            So my function is going to be location.reload ,which will refresh the page.
            The second argument to my setTimeout() function is a time value, and the time value is in milliseconds.
            I have it set to 5,000 milliseconds, or 5 seconds.
        */
        
        let textbox = document.getElementById("message")
        
        let timer = setTimeout(function() {
            location.reload()
        }, 5000)
        
        /* the onkeydown() function runs whenever there's a key press.
        The clearTimeout() function stops the timer, and the code afterwards starts it again.
        This means that we effectively get 5 seconds per key press before the page refreshes, which should be sufficient to type a message. 
        */
        textbox.onkeydown = function(e) {
            
            clearTimeout(timer)
            
            timer = setTimeout(function() {
                location.reload();
            }, 5000)
            
        }
    </script>


</body>

</html>
